{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Billing | TJ-101
{% endblock title %}

{% block stylesheet %}
    
{% endblock stylesheet %}


{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class='col-6 float-left'></div> 
            <div class='col-12 float-right'>
                <button class='btn btn-sm btn-primary mx-2 float-right'>Print</button>
                <button class='btn btn-sm btn-primary float-right js-create-bills' 
                    data-url="{% url 'collection:create_bill' %}">New Bill</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="table-responsive">
                <table class="display" id="tbl_bills" width="100%" cellspacing="0">   
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>From (Period)</th>
                            <th>To (Period)</th>
                            <th>Amount</th>
                            <th>Cancelled</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'bills/bills_list.html' %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="div_bills">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            </div>
        </div>
    </div>  
{% endblock content %}
{% block javascript %}
    <script>
        {% comment %} $('#div_bills').on('shown.bs.modal', function () {
            if ($(".js-payment-bill")){
                $(".modal-title").text("Payemnt for " + $("#id_client option:selected").text())
            }
            esle{
                $('#id_client').focus();
                $(".modal-title").text("New bill for " + $("#id_client option:selected").text())
            }

            $("#id_client").change(function(){
                var client = $("#id_client option:selected").text();
                $(".modal-title").text("New bill for " + client);
            })
        }) {% endcomment %}
    </script>
{% endblock javascript %}
