{% extends "base/base.html" %}
{% block title %}
    Collections
{% endblock title %}

{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class='col-6 float-left'></div> 
            <div class='col-12 float-right'>
                <button class='btn btn-sm btn-primary mx-1 float-right'>Print</button>
                <a href="{% url 'collection:payments' %}" class="btn btn-primary btn-sm mx-1 float-right">Payment</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="table-responsive">
                    <table class="display" id="tbl_bills" width="100%" cellspacing="0">   
                        <thead class="thead-light">
                            <tr>
                                <th>Ref No</th>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Cheque No</th>
                                <th>Cancelled</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in collections %}
                                <tr>
                                    <td>{{payment.receipt_no}}</td>
                                    <td>{{payment.bill.client}}</td>
                                    <td>{{payment.receipt_date}}</td>
                                    <td>{{payment.receipt_type}}</td>
                                    <td>{{payment.receipt_cheque_no}}</td>
                                    <td>{{payment.receipt_cancelled}}</td>
                                    <td>{{payment.receipt_amount}}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center bg-warning">No bills</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="modal fade" id="div_bills">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            </div>
        </div>
    </div>  
{% endblock content %} 
