{% extends 'base/base.html' %}
{% block title %}
    Payment | TJ-101
{% endblock title %}
{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-2">
        <div class="col"><h3>Payment Form</h3></div>
        <div class="row">
            <div class="col card">
                <div class="card-body">
                    <form method="GET">
                        <div class="row">
                            <div class="col-6 ">
                                Select client:
                                <select name="client_name" class="form-control form-control-sm">
                                    <option disable="true" selected>---Select a client---</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.client_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
{% endblock content %}