{% extends 'base/base.html' %}

{% block title %}
    Client List
{% endblock title %}

{% block content %}
    
    {% if user.is_authenticated  %}
        {% include 'base/navbar.html' %}
        <br>
        <div class="container">
            <div class="row mb-2">
                <div class="col col-2 mb-2 float-left">
                    <form method="POST">
                        <input type="text" class="form-control" style="width: 300px;" placeholder="search">
                    </form>
                </div>
                <div class="col col-10 float-right">
                    <button type="button" class="btn btn-primary btn-sm js-create-client mb-2 float-right" data-url="{% url 'client:create_client' %}">
                        New client   
                    </button>
                    <button type="button" class="btn btn-primary btn-sm js-pdf-client mx-2 float-right" onclick="window.open('/clients/report/')">
                        PDF 
                    </button>
                </div>
            </div>
            
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="clientList">   
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Client No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>IP Address</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'includes/partial_client_list.html' %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="divClient">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-5 mt-4 card">
                <h3 class="mt-2">TJ-101 System</h3>
                <hr>
                <div class="mt-4">
                    <h5>You are not logged in</h5>
                    <a class="btn btn-primary btn-sm mb-4" href="{% url 'login' %}">login now.</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

    
    